{% extends "include/header.html" %}

{% load static %}

{% block title %} AGREGAR SALIDA DE BÁSCULAS {% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}

{% if perms.Aplicacion.add_tblsalidaproductos %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>
            <a href="{% url 'T-Sal-Productos' %}" class="btn h6-form"><i class="fa fa-arrow-left"><</i></a>
            AGREGAR SALIDA DE BÁSCULAS
        </h1>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form action="/Guardar-Salidas-Productos/" method="POST" autocomplete="off">{% csrf_token %}
            <input type="hidden" class="form-control" name="clave" value="{{ ultimo_folio }}">
            <input type="hidden" class="form-control" name="tecnico" value="{{ user.first_name }} {{user.last_name}}">
            <div class="centrar" style="justify-content: center; display: flex; text-align: center; width: 100%;">
                <div class="accordion">
                    <div class="card card-hdr-procesos">
                        <div class="card-header">
                            <div class="accordion-item">
                                <input type="checkbox" id="uno" class="accordion-checkbox">
                                <label for="uno" class="accordion-title"
                                    style="justify-content: center; text-align: center; background-color:rgb(0, 38, 255)"><strong>Pulse
                                        para agregar transporte</strong></label>
                                <div class="accordion-content   card-hdr">
                                    <div class="row fila">
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                                            <h6 class="h6-form">CHOFER</h6>
                                            <input type="text" name="chofer" class="form-control"
                                                placeholder="Ingrese el chofer">
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                                            <h6 class="h6-form">PESADOR</h6>
                                            <input type="hidden" value="{{ user.id }}" name="operador">
                                            <input type="text" value="{{ user.first_name }} {{user.last_name }}"
                                                class="form-control input" readonly>
                                        </div>
                                    </div>

                                    <div class="row fila">
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                                            <h6 class="h6-form">CAMIÓN</h6>
                                            <input type="text" name="camion" class="form-control"
                                                placeholder="Ingrese el camión">
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                                            <h6 class="h6-form">PLACAS</h6>
                                            <input type="text" name="placas" class="form-control"
                                                placeholder="Ingrese las placas">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row fila mt-4">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        <h6 class="h6-form">CLIENTE <label>*</label></h6>
                        <select class="select2 form-control col-12" name="cliente" required>
                            {% for Cliente in FCliente %}
                            <option value="{{ Cliente.ID }}">{{ Cliente.Nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        <h6 class="h6-form">PRESENTACIÓN <label>*</label></h6>
                        <select class="select2 form-control col-12" name="presentacion" required>
                            {% for Presentacion in FPresentacion %}
                            <option value="{{ Presentacion.ID }}">{{ Presentacion.Descripcion }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row fila">

                    <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        <h6 class="h6-form">ALMACEN <label>*</label></h6>
                        <select class="select2 form-control col-12" name="almacen" required>
                            {% for Almacen in FAlmacen%}
                            <option value="{{ Almacen.ID }}">{{ Almacen.Proveedor }}</option>
                            {% endfor %}
                        </select>
                    </div> -->
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 select-orden-trabajo">
                        <h6 class="h6-form">PRODUCTOS <label>*</label></h6>
                        <select class="select2 form-control col-12" name="productos" required>
                            {% for Producto in FProductos %}
                            <option value="{{ Producto.ID }}">{{ Producto.Descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        {% if perms.Aplicacion.add_user %}
                        <h6 class="h6-form">FECHA MANUAL <label>*</label></h6>
                        <input type="datetime-local" name="fecha" value="{{ FechaDeHoy }}" class="form-control"
                            required>
                        {% else %}
                        <h6 class="h6-form">FECHA AUTOMATICA <label>*</label></h6>
                        <input type="datetime-local" name="fecha" value="{{ FechaDeHoy }}" class="form-control" readonly
                            required>
                        {% endif %}
                    </div>
                </div>

                <div class="row fila">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                        <h6 class="h6-form">CANTIDAD <label>*</label></h6>
                        <input type="number" step="0.01" name="cantidad" class="form-control"
                            placeholder="Ingrese la cantidad" required>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                        <h6 class="h6-form">REFERENCIA</h6>
                        <input type="number" name="referencia" class="form-control" placeholder="Ingrese la referencia"
                            step="1"
                            oninput="checkInputValidity(this, 'referenciaErrorMessage', 'agregarBoton', 'salirBoton')">
                        <div class="invalid-feedback" id="referenciaErrorMessage" style="display: none;">
                            No se permiten puntos decimales.
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                        <h6 class="h6-form">NOTAS</h6>
                        <input type="text" name="notas" class="form-control" placeholder="Notas">
                    </div>
                   
                </div>

                <!-- <div class="row fila">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 columna">
                        <h6 class="h6-form">NOTAS</h6>
                        <input type="text" name="notas" class="form-control" placeholder="Notas">
                    </div>
                </div> -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary agregarBoton" name="agregar" id="agregarBoton">Guardar
                        y agregar otro</button>
                    <button type="submit" class="btn btn-success salirBoton" name="salir" id="salirBoton">Guardar y
                        salir</button>
                    <a href="{% url 'T-Sal-Productos'%}">
                        <button type="button" class="btn btn-danger cancelarBoton">Cancelar</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

{% else %}
<div class="row centrar">
    <h6 class="h6-form">
        <i class="fa fa-ban"></i> <i class="fa fa-close"></i>
        No tienes los permisos necesarios para agregar el contenido de la tabla
        <i class="fa fa-close"></i> <i class="fa fa-ban"></i>
    </h6>
</div>
{% endif %}

{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}

{% endblock %}