{% extends "include/header.html" %}

{% load static %}

{% block title %} GRUPOS {% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}

{% if perms.auth.add_group %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>
            <a href="{% url 'T-Grupos' %}" class="btn h6-form"><i class="fa fa-arrow-left"><</i></a>
            AGREGAR GRUPOS
        </h1>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form action="/Guardar-Grupos/" method="POST" autocomplete="off">{% csrf_token %}
            <div class="form-group">
                <input type="hidden" value="{{ultimo_folio}}" name="id">
                <input type="hidden" class="form-control" name="tecnico"
                    value="{{ user.first_name }} {{user.last_name}}">
                <div class="row fila">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 columna">
                        <h6 class="h6-form">DESCRIPCIÓN</h6>
                        {% if errorCol is not None %}
                        <input type="text" autofocus name="descripcion" class=" form-control is-invalid"
                            placeholder="Ingrese el grupo (obligatorio)" required>
                        <div class="invalid-feedback  mb-3">
                            El grupo ya fue registrado anteriormente
                        </div>
                        {% else %}
                        <input type="text" autofocus name="descripcion" class="form-control input"
                            placeholder="Ingrese el grupo (obligatorio)" required>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary agregarBoton" name="agregar">Guardar y
                        agregar otro</button>
                    <button type="submit" class="btn btn-success salirBoton" name="salir">Guardar y
                        salir</button>
                    <a href="{% url 'T-Grupos'%}">
                        <button type="button" class="btn btn-danger cancelarBoton">Cancelar</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

{% else %}
<div class="row centrar">
    <h6 class="h6-form">
        <i class="fa fa-ban"></i> <i class="fa fa-close"></i>
        No tienes los permisos necesarios para agregar el contenido de la tabla
        <i class="fa fa-close"></i> <i class="fa fa-ban"></i>
    </h6>
</div>
{% endif %}

{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}

{% endblock %}