{% extends "include/header.html" %}

{% load static %}

{% block title %} EDITAR ENTRADA PRODUCTOS # {{ TEEntradaProducto.IDFolio }} {% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}

{% if perms.Aplicacion.change_tblentradaproductos %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>
            <a href="{% url 'T-Ent-Productos' %}" class="btn h6-form"><i class="fa fa-arrow-left"><</i></a>
            EDITAR ENTRADA PRODUCTOS # {{ TEEntradaProducto.IDFolio }}
        </h1>
        <form action="/ActualizarEntradaProductos/" method="POST" autocomplete="off">{% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="id" value="{{TEEntradaProducto.ID}}">
                <input type="hidden" name="folio" value="{{TEEntradaProducto.IDFolio}}">
                <input type="hidden" class="form-control" name="tecnico"
                    value="{{ user.first_name }} {{user.last_name}}">
                <input type="hidden" class="form-control" name="tipoMov" value="1">
                <div class="row mr-5 ml-5 fila">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        <h6 class="h6-form">PROVEEDOR <label>*</label></h6>
                        <select class="select2 form-control col-12" name="proveedor" required>
                            <option value="{{FiltradoProveedor.ID}}">
                                --------{{FiltradoProveedor.Nombre}}--------
                            </option>
                            {% for Proveedor in FEProveedores %}
                            <option value="{{ Proveedor.ID }}">{{ Proveedor.Nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        <h6 class="h6-form">ALMACEN PRODUCTOS<label>*</label></h6>
                        <select class="select2 form-control col-12" name="almacen" required>
                            <option value="{{FiltradoAlmacen.ID}}">
                                --------{{FiltradoAlmacen.Proveedor}}--------
                            </option>
                            {% for Almacen in FEAlmacen %}
                            <option value="{{ Almacen.ID }}">{{ Almacen.Proveedor }}</option>
                            {% endfor %}
                        </select>                        
                    </div>
                </div>
                
                <div class="row mr-5 ml-5 fila">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        <h6 class="h6-form">PRESENTACIÓN <label>*</label></h6>
                        <select class="select2 form-control col-12" name="presentacion" required>
                            <option value="{{FiltradoPresentacion.ID}}">
                                --------{{FiltradoPresentacion.Descripcion}}--------
                            </option>
                            {% for Presentacion in FETipoPresentacion %}
                            <option value="{{ Presentacion.ID }}">{{ Presentacion.Descripcion }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        <h6 class="h6-form">PRODUCTOS <label>*</label></h6>
                        <select class="select2 form-control col-12" name="producto" required>
                            <option value="{{FiltradoProducto.ID}}">
                                --------{{FiltradoProducto.Descripcion}}--------
                            </option>
                            {% for Productos in FEProductos %}
                            <option value="{{ Productos.ID }}">{{ Productos.Descripcion }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="row mr-5 ml-5 fila">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                        <h6 class="h6-form">CANTIDAD <label>*</label></h6>
                        <input type="text" name="cantidad" value="{{ TEEntradaProducto.cantidad }}"
                            class="form-control" placeholder="Ingrese la cantidad (obligatorio)" required>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                        <h6 class="h6-form">REFERENCIA</h6>
                        <input type="tel" name="referencia" value="{{ TEEntradaProducto.referencia}}"
                            class="form-control" placeholder="Ingrese el peso">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                        <h6 class="h6-form">FECHA <label>*</label></h6>
                        <input type="datetime-local" name="fecha" value="{{fecha|date:'Y-m-d H:i'}}" class="form-control" required>
                    </div>
                </div>
                
                <div class="row mr-5 ml-5 fila">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 columna">
                        <h6 class="h6-form">NOTAS</h6>
                        <input type="text" name="notas" value="{{ TEEntradaProducto.notas }}" class="form-control"
                            placeholder="Ingrese las notas">
                    </div>
                </div>
                
                <div class="form-group ml-5 mr-5">
                    <button type="submit" class="btn btn-success buttonEnviar celular">ACTUALIZAR</button>
                    <a href="{% url 'T-Ent-Productos' %}" class="btn btn-danger buttonCancelar celular"
                        role="button">CANCELAR</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% else %}
<script>
    window.location.href = "{% url 'T-Ent-Productos' %}";
</script>
{% endif %}

{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}

{% endblock %}