{% extends "include/header.html" %}

{% load static %}

{% block title %} FORMUALRIO ORDEN TRABAJO {% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}

{% if perms.Aplicacion.add_tbldetallemovanimales %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>
            <a href="{% url 'T-MovAnimales' %}" class="btn h6-form"><i class="fa fa-arrow-left"><</i></a>
            AGREGAR MOVIMIENTO ANIMALES
        </h1>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <form action="/Guardar-Movimiento-De-Amimales/" method="POST" autocomplete="off">{% csrf_token %}
                    <input type="hidden" class="form-control" name="clave" value="{{AgMovimientos.ID}}">
                    <input type="hidden" class="form-control" name="tecnico"
                        value="{{ user.first_name }} {{user.last_name}}">
                    <div class="row mr-1 ml-1 pt-3 fila">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                            <h6 class="h6-form">CLIENTE:</h6>
                            <label> {{ FiltradoCliente.Nombre }}</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                            <h6 class="h6-form">CORRAL:</h6>
                            <label>{{ FiltradoCorral.Descripcion }}</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                            <h6 class="h6-form">MOVIMIENTO:</h6>
                            <label>{{ FiltradoMovimiento.Descripcion }}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row mr-1 ml-1 fila">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                            <h6 class="h6-form">PESO:</h6>
                            <label> {{AgMovimientos.Peso}}</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                            <h6 class="h6-form">No. GUIA</h6>
                            <label>{{AgMovimientos.No_Guia}}</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                            <h6 class="h6-form">No. PART.</h6>
                            <label>{{AgMovimientos.NoPartida}}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row mr-1 ml-1 fila">
                        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 columna">
                            <h6 class="h6-form">FECHA</h6>
                            <label>{{AgMovimientos.Fecha}}</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 columna">
                            <h6 class="h6-form">NOTAS</h6>
                            <label>{{AgMovimientos.Notas}}</label>
                        </div>
                    </div>

            </div>
            <div class="col-sm-12 col-md col-sm" style="border: 1px rgb(124, 124, 124) solid;">
                <div class="row mr-1 ml-1 pt-3">
                    <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                        <h6 class="h6-form">TIPO ANIMAL <label>*</label></h6>
                        <select class="select2 form-control" style="width: 100%;" name="animal" required>
                            {% for TipoAnimal in FTipoAnimal %}
                            <option value="{{ TipoAnimal.ID }}">{{ TipoAnimal.Descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                        <h6 class="h6-form">CANTIDAD ANIMAL<label>*</label></h6>
                        <input type="text" name="cantidad" autofocus class="form-control"
                            placeholder="Ingrese la cantidad (obligatorio)" required step="1"
                            oninput="checkInputValidity(this, 'partidaErrorMessage', 'agregarBoton', 'salirBoton')">
                        <div class="invalid-feedback" id="partidaErrorMessage" style="display: none;">
                            No se permiten puntos decimales.
                        </div>
                    </div>
                </div>
                <div class="form-group fila mt-3 mb-3">
                    <button type="submit" class="btn btn-primary agregarBoton" name="agregar" id="agregarBoton">Guardar
                        y agregar otro</button>
                    <button type="submit" class="btn btn-success salirBoton" name="salir" id="salirBoton">Guardar y
                        salir</button>
                    <a href="{% url 'T-MovAnimales'%}">
                        <button type="button" class="btn btn-danger cancelarBoton">Cancelar</button>
                    </a>
                </div>
                </form>

                {% if messages %}
                {% for message in messages %}
                <div
                    class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <table class="tabla_id">
                    <thead>
                        <tr>
                            <th scope="col" class="th-responsive">FOLIO</th>
                            <th scope="col" class="th-responsive">Animal</th>
                            <th scope="col" class="th-responsive">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for animales in Detalle%}
                        <tr>
                            <th scope="row" style="border-bottom: 1px white solid;">
                                <h6 class="td-responsive">ID:</h6>{{ animales.IDFolio }}
                            </th>
                            <td class="td-agregar">
                                <h6 class="td-responsive">ANIMAL:</h6>
                                {{ animales.IDAnimales_id__Descripcion}}
                            </td>
                            <td class="td-agregar">
                                <h6 class="td-responsive">CANTIDAD:</h6>
                                {{ animales.Cantidad }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="row centrar">
    <h6 class="h6-form">
        <i class="fa fa-ban"></i> <i class="fa fa-close"></i>
        No tienes los permisos necesarios para agregar el contenido de la tabla
        <i class="fa fa-close"></i> <i class="fa fa-ban"></i>
    </h6>
</div>
{% endif %}

{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}

{% endblock %}