{% extends "include/header.html" %}

{% load static %}

{% block title %} AGREGAR MOVIMIENTOS ANIMALES {% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}

{% if perms.Aplicacion.add_tblmovimientoanimales %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>
            <a href="{% url 'T-MovAnimales' %}" class="btn h6-form"><i class="fa fa-arrow-left"><</i></a>
            AGREGAR MOVIMIENTOS ANIMALES
        </h1>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form action="/Guardar-Movimiento-Animales/" method="POST" autocomplete="off">{% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <input type="hidden" class="form-control" name="clave" value="{{ ultimo_folio }}">
                    <input type="hidden" class="form-control" name="tecnico"
                        value="{{ user.first_name }} {{user.last_name}}">
                    <div class="row mr-1 ml-1 fila">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                            <h6 class="h6-form">CLIENTE <label>*</label></h6>
                            {% if Agrego_aniamles %}         
                                               
                            <input type="hidden" value="{{Agrego_aniamles.cliente}}" name="cliente">
                            <input type="text" value="{{FiltradoCliente.Nombre}}" class="form-control" readonly>
                            {% else %}
                            <select class="select2 form-control col-12" name="cliente" required>
                                {% for Clientes in FCliente %}
                                <option value="{{ Clientes.ID }}">{{ Clientes.Nombre }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                            <h6 class="h6-form">TIPO DE MOVIMIENTO <label>*</label></h6>
                            {% if Agrego_aniamles %}
                            <input type="hidden" value="{{Agrego_aniamles.movimiento}}" name="movimiento">
                            <input type="text"  value="{{FiltradoMovimiento.Descripcion}}"
                                class="form-control" readonly>
                            {% else %}
                            <select class="select2 form-control col-12" name="movimiento" required>
                                {% for Movimiento in FMovimiento %}
                                <option value="{{ Movimiento.ID }}">{{ Movimiento.Descripcion }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <div class="row mr-1 ml-1 fila">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                            <h6 class="h6-form">CORRAL <label>*</label></h6>
                            {% if Agrego_aniamles %}
                            <input type="hidden" value="{{Agrego_aniamles.corral}}" name="corral">
                            <input type="text"  value="{{FiltradoCorral.Descripcion}}" class="form-control"
                                readonly>
                            {% else %}
                            <select class="select2 form-control col-12" name="corral" required>
                                {% for Corral in FCorral %}
                                <option value="{{ Corral.ID }}">{{ Corral.Descripcion }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                            {% if Agrego_aniamles %}
                            <h6 class="h6-form">FECHA <label>*</label></h6>
                            <input type="text" name="fecha" value="{{Agrego_aniamles.fecha}}" class="form-control"
                                readonly>
                            {% else %}
                            {% if perms.Aplicacion.add_user %}
                            <h6 class="h6-form">FECHA MANUAL <label>*</label></h6>
                            <input type="datetime-local" name="fecha" value="{{ FechaDeHoy }}" class="form-control"
                                required>
                            {% else %}
                            <h6 class="h6-form">FECHA AUTOMATICA <label>*</label></h6>
                            <input type="datetime-local" name="fecha" value="{{ FechaDeHoy }}" class="form-control"
                                readonly required>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <div class="row mr-1 ml-1 fila">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                            <h6 class="h6-form">PESO <label>*</label></h6>
                            {% if Agrego_aniamles %}
                            <input type="text" name="peso" value="{{Agrego_aniamles.peso}}" class="form-control"
                                readonly>
                            {% else %}
                            <input type="number" name="peso" step="0.01" class="form-control"
                                placeholder="Ingrese el peso" required>
                            {% endif %}
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                            <h6 class="h6-form">No. GUIA</h6>
                            {% if Agrego_aniamles %}
                            <input type="text" name="guia" value="{{Agrego_aniamles.guia}}" class="form-control"
                                readonly>
                            {% else %}
                            <input type="number" name="guia" class="form-control" placeholder="Ingrese No. GUIA"
                                step="1"
                                oninput="checkInputValidity(this, 'guiaErrorMessage', 'agregarBoton', 'salirBoton')">
                            <div class="invalid-feedback" id="guiaErrorMessage" style="display: none;">
                                No se permiten puntos decimales.
                            </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 columna">
                            <h6 class="h6-form">No. PARTIDA</h6>
                            {% if Agrego_aniamles %}
                            <input type="text" name="partida" value="{{Agrego_aniamles.partida}}" class="form-control"
                                readonly>
                            {% else %}
                            <input type="number" name="partida" placeholder="Ingrese No. Partida" class="form-control"
                                step="1"
                                oninput="checkInputValidity(this, 'partidaErrorMessage', 'agregarBoton', 'salirBoton')">
                            <div class="invalid-feedback" id="partidaErrorMessage" style="display: none;">
                                No se permiten puntos decimales.
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <div class="row mr-1 ml-1 fila">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 columna">
                            <h6 class="h6-form">NOTAS</h6>
                            {% if Agrego_aniamles %}
                            <input type="text" name="notas" value="{{Agrego_aniamles.notas}}" class="form-control"
                                readonly>
                            {% else %}
                            <input type="text" name="notas" class="form-control" placeholder="Ingrese las notas">
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary agregarBoton" name="agregar"
                            id="agregarBoton">Guardar y agregar otro</button>
                        <button type="submit" class="btn btn-success salirBoton" name="salir" id="salirBoton">Guardar y
                            salir</button>
                        <a href="{% url 'T-MovAnimales'%}">
                            <button type="button" class="btn btn-danger cancelarBoton">Cancelar</button>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card card-hdr-procesos mt-3 mb-3 p-4">
                        <div class="row mb-3">
                            <div class="col-8">
                                <h6 class="h6-form">Agregar cantidad y tipo de animal</h6>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-sm btn-primary agregarBoton" name="guardarAnimal"
                                    id="agregarBoton"><i class="fa fa-plus"></i> Agregar</button>
                            </div>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="th-responsive col-2">FOLIO</th>
                                    <th scope="col" class="th-responsive col-4">TIPO ANIMAL</th>
                                    <th scope="col" class="th-responsive col-4">CANTIDAD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border-bottom: 1px white solid;">
                                        {{ formatoClave }}
                                    </th>
                                    <td class="td-agregar">
                                        <h6 class="td-responsive">ANIMAL:</h6>
                                        <select class="select2 form-control" style="width: 100%;" name="animal"
                                            required>
                                            {% for TipoAnimal in FTipoAnimal %}
                                            <option value="{{ TipoAnimal.ID }}">{{ TipoAnimal.Descripcion }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td class="td-agregar">
                                        <h6 class="td-responsive">CANTIDAD ANIMAL:</h6>
                                        <input type="text" name="cantidad" autofocus class="form-control"
                                            placeholder="Ingrese la cantidad (obligatorio)" required step="1"
                                            oninput="checkInputValidity(this, 'cantidadErrorMessage', 'agregarBoton', 'salirBoton')">
                                        <div class="invalid-feedback" id="cantidadErrorMessage" style="display: none;">
                                            No se permiten puntos decimales.
                                        </div>
                                    </td>
                                </tr>
                                {% for animales in Detalle%}

                                <tr>
                                    <th scope="row" style="border-bottom: 1px white solid;">
                                        <h6 class="td-responsive">ID:</h6>{{ animales.IDFolio }}
                                    </th>
                                    <td class="td-agregar">
                                        <h6 class="td-responsive">TIPO ANIMAL:</h6>
                                        {{ animales.IDAnimales_id__Descripcion}}
                                    </td>
                                    <td class="td-agregar">
                                        <h6 class="td-responsive">CANTIDAD:</h6>
                                        {{ animales.Cantidad }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

{% else %}
<div class="row centrar">
    <h6 class="h6-form">
        <i class="fa fa-ban"></i> <i class="fa fa-close"></i>
        No tienes los permisos necesarios para agregar el contenido de la tabla
        <i class="fa fa-close"></i> <i class="fa fa-ban"></i>
    </h6>
</div>
{% endif %}

{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}

{% endblock %}