{% extends "include/header.html" %}

{% load static %}

{% block title %}EDITAR ESTATUS #{{TEEstatus.ID}} {% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}

{% if perms.Aplicacion.change_tblestatus %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>EDITAR ESTATUS #{{TEEstatus.ID}}</h1>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <form action="/ActualizarEstatus/" method="POST" autocomplete="off">{% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="id" value="{{TEEstatus.ID}}">
                <input type="hidden" name="clave" value="{{TEEstatus.Clave}}">
                <input type="hidden" class="form-control" name="tecnico"
                    value="{{ user.first_name }} {{user.last_name}}">
                <div class="row fila">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 columna">
                        <h6 class="h6-form">DESCRIPCIÓN <label>*</label></h6>
                        <input type="text" name="descripcion" value="{{TEEstatus.Descripcion}}"
                            class="form-control input" placeholder="Ingrese el tipo de animal" required>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Actualizar</button>
                    <a href="{% url 'T-Estatus' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% else %}
<script>
    window.location.href = "{% url 'T-Estatus' %}";
</script>
{% endif %}

{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}

{% endblock %}