{% extends "include/header.html" %}

{% load static %}

{% block title %} HISTORIAL CORRALES {% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>
            <a href="{% url 'T-Asignacion' %}" class="btn h6-form"><i class="fa fa-arrow-left"><</i></a>
            PROCESOS - HISTORIAL CORRALES
        </h1>

        {% if perms.Aplicacion.view_tblasignacorrales %}
        <div class="table-responsive py-1">
            <table class="tabla_id">
                <thead>
                    <tr>
                        <th class="th-responsive">Folio</th>
                        <th class="th-responsive">CLIENTE</th>
                        <th class="th-responsive">CORRAL</th>
                        <th class="th-responsive">MOVIMIENTO</th>
                        <th class="th-responsive">FECHA</th>
                        <th class="th-responsive dnone"></th>
                        <th class="th-responsive dnone"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for Historial in THistorial %}
                    <tr>
                        <td>
                            <h6 class="td-responsive">ID:</h6>
                            {{ Historial.Clave}}
                        </td>
                        <td>
                            <h6 class="td-responsive">CLIENTE:</h6>
                            {{ Historial.IDCliente_id__Nombre}}
                        </td>
                        <td>
                            <h6 class="td-responsive">CORRAL:</h6>
                            {{ Historial.IDCorral_id__Descripcion}}
                        </td>
                        <td>
                            <h6 class="td-responsive">MOVIMIENTO:</h6>
                            {{ Historial.TipoMov_id__Descripcion}}
                        </td>
                        <td>
                            <h6 class="td-responsive">FECHA:</h6>
                            {{ Historial.Fecha}}
                        </td>
                        <td class="td-salto"></td>
                        <td class="td-salto"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="row centrar">
            <h6 class="h6-form">
                <i class="fa fa-ban"></i> <i class="fa fa-close"></i>
                No tienes los permisos necesarios para ver el contenido de la tabla
                <i class="fa fa-close"></i> <i class="fa fa-ban"></i>
            </h6>
        </div>
        {% endif %}
    </div>
</div>

{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}

{% endblock %}