<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %} {% endblock %}</title>
    <!-- Estilos importantes para las tablas de html -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery.dataTables.min.css' %}" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="icon" href="{% static 'images/iconos/favicon.png' %}" sizes="32x32" type="image/x-icon">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'ruta/select2/select2.min.css' %}" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/buttons.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/style_manual.css' %}" rel="stylesheet"> -->

    <!-- scripts para los filtros de las tablas -->
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'jquery/simple-datatables@latest' %}"></script>
    <script src="{% static 'jquery/jquery.dataTables.min.js' %}"></script>
    <!--     
    <script src="https://cdn.datatables.net/plug-ins/1.13.1/i18n/Spanish.json" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script> -->

    <!-- AJAX -->


    <script src="{% static 'assets/js/input-not-real.js' %}"></script>
    <script src="{% static 'ruta/select2/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/fontawesome.js' %}" crossorigin="anonymous"></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-center">
            <a href="{% url 'Sistema' %}" class="logo d-flex align-items-center">
                <img src="{% static 'assets/img-pages/valmo.png' %}" alt="">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <!-- <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="button" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div> -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex">

                {% if perms.Aplicacion.add_tbltecnicos or perms.Aplicacion.view_tblserviciosweb %}
                <li class="nav-item dropdown ocultar-top" style="margin: 5px 15px 0 0;">
                    <a class="nav-link collapsed button-top ocultar-top h6-form" href="{% url 'Pagos' %}">
                        Servicio |
                    </a>
                </li>
                {% endif %}
                {% if perms.Aplicacion.add_tbltecnicos or perms.Aplicacion.view_tbltecnicos %}
                <li class="nav-item dropdown ocultar-top" style="margin: 5px 15px 0 0;">
                    <a class="nav-link collapsed ocultar-top h6-form" href="{% url 'TUsuarios' %}">
                        Técnicos |
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown" style="margin: 5px 15px 0 0;">
                    <label class="theme-switch">
                        <input type="checkbox" class="theme-switch__checkbox" onclick="toggleTheme()">
                        <div class="theme-switch__container">
                            <div class="theme-switch__clouds"></div>
                            <div class="theme-switch__circle-container">
                                <div class="theme-switch__sun-moon-container">
                                    <div class="theme-switch__moon">
                                        <div class="theme-switch__spot"></div>
                                        <div class="theme-switch__spot"></div>
                                        <div class="theme-switch__spot"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </li>
                <li class="nav-item dropdown ocultar-list" style="margin: 5px 10px 0 0;">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0 ocultar-list" href="#"
                        data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Subtablas</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        {% if perms.Aplicacion.add_tblestatus or perms.Aplicacion.view_tblestatus %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'T-Estatus'%}">
                                <span>Estatus</span>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if perms.Aplicacion.add_tbltipomaterial or perms.Aplicacion.view_tbltipomaterial %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'T-Tipo-Material' %}">
                                <span>Tipo Material</span>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if perms.Aplicacion.add_tbltipomov or perms.Aplicacion.view_tbltipomov %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'T-Tipo-Movimiento' %}">
                                <span>Tipo Movimiento</span>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if perms.Aplicacion.add_tbltipopresentacion or perms.Aplicacion.view_tbltipopresentacion %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'T-Tipo-Presentacion' %}">
                                <span>Tipo Presentación</span>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if perms.Aplicacion.add_tblunidades or perms.Aplicacion.view_tblunidades %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'T-Unidad-Medida' %}">
                                <span>Unidad Medida</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown" style="margin: 0px 20px 0 0;">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{% static 'assets/img/profile-img.png' %}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{user.first_name}}</span>
                    </a><!-- End Profile Iamge Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{user.first_name}} <br> {{user.last_name}}</h6>
                            <span>{{grupos}}</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'perfil'%}">
                                <i class="bi bi-person"></i>
                                <span>Mi perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'T-Tipo-Rol' %}">
                                <i class="bi bi-question-circle"></i>
                                <span>Tipos de rol</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'Logout' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar Sesión</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Sistema' %}">

                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-heading">Contenido-Catalogos</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <span>Catálogos</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    {% if perms.Aplicacion.add_tblclientes or perms.Aplicacion.view_tblclientes %}
                    <li>
                        <a href="{% url 'T-Cliente' %}">
                            <span>Clientes</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tblproveedores or perms.Aplicacion.view_tblproveedores %}
                    <li>
                        <a href="{% url 'T-Proveedor' %}">
                            <span>Proveedores</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tbloperadores or perms.Aplicacion.view_tbloperadores %}
                    <li>
                        <a href="{% url 'T-Operador' %}">
                            <span>Operadores</span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- <hr> -->
                    {% if perms.Aplicacion.add_tblmateriaprima or perms.Aplicacion.view_tblmateriaprima %}
                    <li>
                        <a href="{% url 'T-MateriaPrima' %}">
                            <span>Materias primas</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tblproductos or perms.Aplicacion.view_tblproductos %}
                    <li>
                        <a href="{% url 'T-Producto' %}">
                            <span>Productos</span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- <hr> -->
                    {% if perms.Aplicacion.add_tblcorrales or perms.Aplicacion.view_tblcorrales %}
                    <li>
                        <a href="{% url 'T-Corral' %}">
                            <span>Corrales</span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- <hr> -->
                    {% if perms.Aplicacion.add_tblanimalestipo or perms.Aplicacion.view_tblanimalestipo %}
                    <li>
                        <a href="{% url 'T-TipoAnimal' %}">
                            <span>Tipo de animales</span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- <hr> -->
                    {% if perms.Aplicacion.add_tblcontenedoresmateriaprima or perms.Aplicacion.view_tblcontenedoresmateriaprima %}
                    <li>
                        <a href="{% url 'T-ContenedorMP' %}">
                            <span>Contenedores materias primas</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tblcontenedoresproductos or perms.Aplicacion.view_tblcontenedoresproductos %}
                    <li>
                        <a href="{% url 'T-ContenedorProducto' %}">
                            <span>Contenedores productos</span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- <hr> -->
                    {% if perms.Aplicacion.add_tbltolva or perms.Aplicacion.view_tbltolva %}
                    <li>
                        <a href="{% url 'T-Tolva' %}">
                            <span>Tolva</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-heading">Contenido-Procesos</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-bascula" data-bs-toggle="collapse" href="#">
                    <span>Báscula</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-bascula" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    {% if perms.Aplicacion.add_tblentradamp or perms.Aplicacion.view_tblentradamp %}
                    <li>
                        <a href="{% url 'T-Ent-Materia-Prima' %}">
                            <span>Entrada Materias Primas</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tblsalidamp or perms.Aplicacion.view_tblsalidamp %}
                    <li>
                        <a href="{% url 'T-Sal-Materia-Prima' %}">
                            <span>Salida Materias Primas</span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- <hr> -->
                    {% if perms.Aplicacion.add_tblentradaproductos or perms.Aplicacion.view_tblentradaproductos %}
                    <li>
                        <a href="{% url 'T-Ent-Productos' %}">
                            <span>Entrada Productos</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tblsalidaproductos or perms.Aplicacion.view_tblsalidaproductos %}
                    <li>
                        <a href="{% url 'T-Sal-Productos' %}">
                            <span>Sálidas Productos</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <span>Movimiento animales y corrales</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    {% if perms.Aplicacion.add_tblmovimientoanimales or perms.Aplicacion.view_tblmovimientoanimales %}
                    <li>
                        <a href="{% url 'T-MovAnimales' %}">
                            <span>Movimiento Animales</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tblasignacorrales or perms.Aplicacion.view_tblasignacorrales %}
                    <li>
                        <a href="{% url 'T-Asignacion' %}">
                            <span>Asignacion Corrales</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-servidos" data-bs-toggle="collapse" href="#">
                    <span>Servidos</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-servidos" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    {% if perms.Aplicacion.add_tblservido or perms.Aplicacion.view_tblservido %}
                    <li>
                        <a href="{% url 'T-Solicitud-Servidos' %}">
                            <span>Solicitud Servido</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'T-Servidos' %}">
                            <span>Servido Manual</span>
                        </a>
                    </li>
                    <!-- <hr> -->
                    <li>
                        <a href="{% url 'T-Corrales-Servidos' %}">
                            <span>Corrales Servidos</span>
                        </a>
                    </li>
                    <!-- <hr> -->
                    <li>
                        <a href="{% url 'FT-Consolidacion' %}">
                            <span>Consolidación Servido</span>
                        </a>
                    </li>

                    {% endif %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-tolva" data-bs-toggle="collapse" href="#">
                    <span>Cargamento de vehiculos</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-tolva" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    {% if perms.Aplicacion.add_tbltolva or perms.Aplicacion.view_tbltolva %}
                    <li>
                        <a href="{% url 'T-Cargamento-Tolva' %}">
                            <span>Vehiculos</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-inventario" data-bs-toggle="collapse" href="#">
                    <span>Inventario</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-inventario" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    {% if perms.Aplicacion.add_tblinventarioinicialesmp or perms.Aplicacion.view_tblinventarioinicialesmp %}
                    <li>
                        <a href="{% url 'T-InventarioMP' %}">
                            <span>Inventario Materia Prima</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tblinventarioinicialesproductos or perms.Aplicacion.view_tblinventarioinicialesproductos %}
                    <li>
                        <a href="{% url 'T-InventarioProductos' %}">
                            <span>Inventario Producto</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-heading">Contenido-SubTablas</li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#subtables-nav" data-bs-toggle="collapse" href="#">
                    <span>Sub-Tablas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="subtables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    {% if perms.Aplicacion.add_tblestatus or perms.Aplicacion.view_tblestatus %}
                    <li>
                        <a href="{% url 'T-Estatus' %}">
                            <span>Estatus</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tbltipomaterial or perms.Aplicacion.view_tbltipomaterial %}
                    <li>
                        <a href="{% url 'T-Tipo-Material' %}">
                            <span>Tipo Material</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tbltipomov or perms.Aplicacion.view_tbltipomov %}
                    <li>
                        <a href="{% url 'T-Tipo-Movimiento' %}">
                            <span>Tipo Movimiento</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tbltipopresentacion or perms.Aplicacion.view_tbltipopresentacion %}
                    <li>
                        <a href="{% url 'T-Tipo-Presentacion' %}">
                            <span>Tipo Presentación</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.Aplicacion.add_tblunidades or perms.Aplicacion.view_tblunidades %}
                    <li>
                        <a href="{% url 'T-Unidad-Medida' %}">
                            <span>Unidad Medida</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% if perms.auth.add_user %}
            <li class="nav-heading">Reportes</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Reportes' %}">
                    <span>Reportes</span>
                </a>
            </li>
            {% endif %}

            {% if perms.Aplicacion.add_tbltecnicos or perms.Aplicacion.view_tbltecnicos %}
            <li class="nav-heading ocultar-list">Usuario y servicio</li>
            <li class="nav-item ocultar-list">
                <a class="nav-link collapsed" href="{% url 'TUsuarios' %}">
                    <span>Usuarios</span>
                </a>
            </li>
            {% endif %}
            {% if perms.Aplicacion.add_tblserviciosweb or perms.Aplicacion.view_tblserviciosweb %}
            <li class="nav-item ocultar-list">
                <a class="nav-link collapsed" href="{% url 'Pagos' %}">
                    <span>Servicio</span>
                </a>
            </li>
            {% endif %}
            <li class="nav-heading">Página y Configuración</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <span>Configuración</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'Base-de-datos' %}">
                            <span>Base de datos</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'T-Grupos' %}">
                            <span>Grupos</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'T-Permisos' %}">
                            <span>Permisos</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Inicio' %}">
                    <span>Página</span>
                </a>
            </li>

        </ul>
    </aside>
    <main id="main" class="main">
        <div class="pagetitle">
            <div class="loader" id="loader-container">
                <div>
                    <ul>
                        <li>
                            <svg fill="currentColor" viewBox="0 0 90 120">
                                <path
                                    d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                </path>
                            </svg>
                        </li>
                        <li>
                            <svg fill="currentColor" viewBox="0 0 90 120">
                                <path
                                    d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                </path>
                            </svg>
                        </li>
                        <li>
                            <svg fill="currentColor" viewBox="0 0 90 120">
                                <path
                                    d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                </path>
                            </svg>
                        </li>
                        <li>
                            <svg fill="currentColor" viewBox="0 0 90 120">
                                <path
                                    d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                </path>
                            </svg>
                        </li>
                        <li>
                            <svg fill="currentColor" viewBox="0 0 90 120">
                                <path
                                    d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                </path>
                            </svg>
                        </li>
                        <li>
                            <svg fill="currentColor" viewBox="0 0 90 120">
                                <path
                                    d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                </path>
                            </svg>
                        </li>
                    </ul>
                </div><span>Cargando, por favor espere un momento...</span>
            </div>
            {% if user.is_authenticated %}
            {% block body %}

            {% endblock %}
            <!-- if perms.auth.add_user %} -->
            {% if ServiciosWeb.EstadoPago == False and ServiciosWeb.Notificacion == False %}
            <div class="toast alerta" role="alert" aria-live="assertive" aria-atomic="true"
                style="position: fixed; bottom: 5px; right: 5px; z-index: 9999; background-color: aliceblue;">
                <div class="toast-header">
                    <div class="izquierda">
                        <strong class="mr-auto">Estado de pago</strong>
                    </div>
                    <div class="derecha">
                        <small class="text-muted">Pendiente</small>
                        <button type="button" class="ml-2 mb-1 close close-toast" data-dismiss="toast"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="toast-body">
                    <p style="text-align: justify;"> Hola estimado usuario, para poder seguir utilizando el servicio
                        proporcionado, debe efectuar el pago
                        correspondiente </p>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('.toast').toast('show');
                });
                var closeButton = document.querySelector('.toast .close');
                closeButton.addEventListener('click', function () {
                    var toast = document.querySelector('.toast');
                    $(toast).toast('hide');
                });
            </script>
            {% endif %}
            <!-- endif %} -->
            {% else %}
            <script>
                window.location.href = "{% url 'Login' %}";
            </script>
            {% endif %}
        </div>
    </main>
    <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- --------------------------------------------------------SCRIPT PARA TABLAS--------------------------------------------------------  -->
    <script>
        $(document).ready(function () {
            $(".tabla_id").DataTable({
                "pageLength": 100,
                "lengthMenu": [[50, 100, 150, 200], [50, 100, 150, 200]],
                "language": {
                    "url": "{% static 'assets/js/Spanish.json' %}"
                }
            });
        });
    </script>

    <!-- ------------------------------------------------ SCRIPT PARA MODO DE VISUALIZACION ------------------------------------------------ -->
    <script>
        // Espera a que se cargue el DOM
        document.addEventListener("DOMContentLoaded", function () {
            const checkbox = document.querySelector(".theme-switch__checkbox");
            const themeContainer = document.querySelector(".theme-switch__container");
            const htmlElement = document.documentElement;
            // Verifica si hay un estado guardado en localStorage y lo aplica si existe
            const theme = localStorage.getItem("theme");
            // Si no hay tema guardado, establece el tema oscuro como predeterminado
            htmlElement.classList.remove("dark-theme");
       
            if (theme) {
                themeContainer.classList.toggle("theme-switch--dark", theme === "dark");
                checkbox.checked = theme === "dark";
                htmlElement.classList.toggle("dark-theme", theme === "dark");
            } else {
                // Si no hay tema guardado, establece el tema oscuro como predeterminado
                htmlElement.classList.add("dark-theme");
                localStorage.setItem("theme", "dark-theme");
            }
            // Escucha el evento de cambio en el interruptor
            checkbox.addEventListener("change", function () {
                const theme = checkbox.checked ? "dark" : "light";
                // Guarda el estado del tema en localStorage
                localStorage.setItem("theme", theme);
                // Aplica el tema según el estado del interruptor
                themeContainer.classList.toggle("theme-switch--dark", checkbox.checked);
                htmlElement.classList.toggle("dark-theme", checkbox.checked);
            });
        });
    </script>

    <!-- --------------------------------------------------- SCRIPT PARA RECARGA DE PAGINA --------------------------------------------------- -->
    <script>
        // Muestra el loader cuando la página está cargando
        window.addEventListener('beforeunload', function () {
            document.getElementById('loader-container').style.display = 'block';
            // Oculta el loader después de 5 segundos
            setTimeout(function () {
                document.getElementById('loader-container').style.display = 'none';
            }, 5000); // 5000 milisegundos = 5 segundos
        });
    </script>
    
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
</body>

</html>