/* checkbox modo de vista */
.theme-switch {
  --toggle-size: 16px;
  /* Tamaño reducido */
  --container-width: 3em;
  --container-height: 1.5em;
  --container-radius: 3em;
  --container-light-bg: #3D7EAE;
  --container-night-bg: #1D1F2C;
  --circle-container-diameter: 1.5em;
  /* Ajustado para encajar en el contenedor */
  --sun-moon-diameter: 1.2em;
  --sun-bg: #ECCA2F;
  --moon-bg: #C4C9D1;
  --spot-color: #959DB1;
  --circle-container-offset: 0;
  /* Sin desplazamiento extra */
  --stars-color: #fff;
  --clouds-color: #F3FDFF;
  --back-clouds-color: #AACADF;
  --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius);
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: flex;
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: 50%;
  background-color: var(--sun-bg);
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  transition: var(--transition);
}

.theme-switch__moon {
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.375em;
  left: 0.156em;
  width: 0.375em;
  height: 0.375em;
  border-radius: 50%;
  background-color: var(--spot-color);
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.187em;
  height: 0.187em;
  top: 0.468em;
  left: 0.687em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.125em;
  height: 0.125em;
  top: 0.156em;
  left: 0.406em;
}

.theme-switch__clouds {
  width: 0.625em;
  height: 0.625em;
  background-color: var(--clouds-color);
  border-radius: 50%;
  position: absolute;
  bottom: -0.312em;
  left: 0.156em;
  box-shadow: 0.468em 0.156em var(--clouds-color), -0.156em -0.156em var(--back-clouds-color), 0.718em 0.187em var(--clouds-color), 0.25em -0.062em var(--back-clouds-color), 1.093em 0 var(--clouds-color), 0.625em -0.031em var(--back-clouds-color), 1.312em 0.125em var(--clouds-color);
  transition: var(--transition);
  z-index: 1;
}

.theme-switch__stars {
  position: absolute;
  background-color: var(--stars-color);
  box-shadow: 0em 0em 0.062em rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  z-index: 0;
  transition: var(--transition);
}

.theme-switch__star1 {
  width: 0.156em;
  height: 0.156em;
  top: 0.312em;
  left: 0.625em;
}

.theme-switch__star2 {
  width: 0.125em;
  height: 0.125em;
  top: 0.625em;
  left: 1.562em;
}

.theme-switch__star3 {
  width: 0.187em;
  height: 0.187em;
  top: 0.187em;
  left: 2.125em;
}

.theme-switch__checkbox:checked~.theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked~.theme-switch__container .theme-switch__circle-container {
  left: calc(100% - var(--circle-container-diameter));
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.theme-switch__checkbox:checked~.theme-switch__container .theme-switch__circle-container .theme-switch__sun-moon-container {
  background-color: var(--moon-bg);
}

.theme-switch__checkbox:checked~.theme-switch__container .theme-switch__circle-container .theme-switch__sun-moon-container .theme-switch__moon {
  transform: translateX(0%);
}

.theme-switch__checkbox:checked~.theme-switch__container .theme-switch__circle-container .theme-switch__clouds {
  transform: translateX(-4em);
}

.theme-switch__checkbox:checked~.theme-switch__container .theme-switch__circle-container .theme-switch__star1 {
  left: 0.468em;
}

.theme-switch__checkbox:checked~.theme-switch__container .theme-switch__circle-container .theme-switch__star2 {
  left: 1.375em;
}

.theme-switch__checkbox:checked~.theme-switch__container .theme-switch__circle-container .theme-switch__star3 {
  left: 1.875em;
}


/* checkbox asignacion de corrales */
.toggle-border {
  border: 2px solid #f0ebeb;
  border-radius: 130px;
  margin-bottom: 45px;
  padding: 1px 2px;
  background: linear-gradient(to bottom right, white, rgba(220, 220, 220, .5)), white;
  box-shadow: 0 0 0 2px #fbfbfb;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-border:last-child {
  margin-bottom: 0;
}

.toggle-border input[type="checkbox"] {
  display: none;
}

.toggle-border label {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
  background: #d13613;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, .3);
  transition: background .5s;
}

.toggle-border input[type="checkbox"]:checked+label {
  background: #13d162;
}

.handle {
  position: absolute;
  top: -8px;
  left: -10px;
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  background: repeating-radial-gradient(circle at 50% 50%, rgba(200, 200, 200, .2) 0%, rgba(200, 200, 200, .2) 2%, transparent 2%, transparent 3%, rgba(200, 200, 200, .2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
  border-radius: 50%;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, .4);
  transition: left .4s;
}

.toggle-border input[type="checkbox"]:checked+label>.handle {
  left: calc(100% - 35px + 10px);
}

.theme-switch--dark .theme-switch__container {
  background-color: var(--container-night-bg);
}


/*------------------------------------------------------------------------------------------------------ pagina de recarga ------------------------------------------------------------------------------------------------------*/
/* Estilos para el contenedor del loader */
#loader-container {
  /* Fondo semi-transparente */
  background-color: rgba(255, 255, 255, 0.8);
  /* Posición fija para mantenerlo superpuesto */
  position: fixed;
  /* Ajustar el div al 50% del ancho y alto de la ventana */
  top: 50%;
  left: 50%;
  /* Centrar el div exactamente en el medio */
  transform: translate(-50%, -50%);
  /* Ajustar el z-index para asegurarse de que esté superpuesto */
  z-index: 9999;
  display: none;
}

.loader {
  --background: linear-gradient(135deg, #23C4F8, #275EFE);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: #6C7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 200px;
  height: 140px;
  position: relative;
}

.loader:before,
.loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}

.loader:before {
  left: 4px;
}

.loader:after {
  --r: 6deg;
  right: 4px;
}

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}

.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2;
}

.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3;
}

.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4;
}

.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5;
}

.loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block;
}

.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}

.loader div ul li:last-child {
  --o: 1;
}

.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--text);
}

@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  35%,
  100% {
    opacity: 0;
  }

  50%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }

  65%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  65%,
  100% {
    opacity: 0;
  }

  80%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0;
  }

  95%,
  100% {
    transform: rotateY(0deg);
  }
}


/* -------------------------------------------------------------------------------- BOTON PARA EDITAR -------------------------------------------------------------------------------- */
.edit-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(21, 115, 71);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 255, 8, 0.416);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 14px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(0, 176, 26);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Editar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* ---------------------------------------------------------------------------------------- BOTON ELIMINAR ---------------------------------------------------------------------------------------- */
.delete-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 13px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Eliminar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* ----------------------------------------------------------------------------------- DOWNLOAD PDF ----------------------------------------------------------------------------------- */
.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: .3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: .3s;
}

.Btn:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: .3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


/* ------------------------------------------------------------------------------------ CANCELAR PEDIDOS ------------------------------------------------------------------------------------ */
.noselect {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.noselect,
.noselect span {
  transition: 200ms;
}

.noselect .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.noselect .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect svg {
  width: 15px;
  fill: #eee;
}

.noselect:hover {
  background: #ff3636;
}

.noselect:hover .text {
  color: transparent;
}

.noselect:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.noselect:focus {
  outline: none;
}

.noselect:active .icon svg {
  transform: scale(0.8);
}

/* ---------------------------------------------------------------------------------------- ACORDEON ---------------------------------------------------------------------------------------- */


.accordion {
  width: 95%;
  max-width: 600px;
  margin: 10px;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-checkbox {
  display: none;
}

.accordion-title {
  display: block;
  padding: 8px;
  background-color: #0c8d00;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #00b306;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.accordion-checkbox:checked~.accordion-content {
  max-height: 350px;
  /* Limitar la altura máxima para activar la barra de desplazamiento */
  padding: 15px;
  overflow-y: auto;
  /* Agregar barra de desplazamiento vertical */
}