{% extends "include/header.html" %}

{% load static %}

{% block title %}AGREGAR INVENTARIO INICIAL MATERIA PRIMA {% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}

{% if perms.Aplicacion.add_tblinventarioinicialesmp %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>AGREGAR INVENTARIO INICIAL MATERIA PRIMA</h1>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form action="/Guardar-Inventario-Materia-Prima/" method="POST" autocomplete="off">{% csrf_token %}

            {% if clave is not None %}
            <input type="hidden" class=" form-control mb-3" name="clave" value="{{ clave }}">
            {% else %}
            <input type="hidden" class=" form-control mb-3" name="clave" value="{{ ultimo_folio }}">
            {% endif %}
            <input type="hidden" class=" form-control mb-3" name="tecnico"
                value="{{ user.first_name }} {{user.last_name}}">

            <div class="form-group">
                <div class="row fila">
                    <div class="col-sm-12 col-md-12 col-l-6 col-xl-6 columna">
                        <h6 class="h6-form">CONTENEDOR MATERIA PRIMA <label>*</label></h6>
                        <select class="select2 form-control col-12" name="almacen" required>
                            {% for almacen in FAlmacen %}
                            <option value="{{ almacen.ID }}"> {{ almacen.Cliente }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        <h6 class="h6-form">MATERIA PRIMA <label>*</label></h6>
                        <select class="select2 form-control col-12" name="materia" required>
                            {% for MateriaPrima in FMateriaPrima %}
                            <option value="{{ MateriaPrima.ID }}">{{ MateriaPrima.Descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row fila">
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 columna">
                        {% if perms.Aplicacion.add_user %}
                        <h6 class="h6-form">FECHA MANUAL <label>*</label></h6>
                        <input type="datetime-local" name="fecha" value="{{ FechaDeHoy }}" class="form-control input" required>
                        {% else %}
                        <h6 class="h6-form">FECHA AUTOMATICA <label>*</label></h6>
                        <input type="datetime-local" name="fecha" value="{{ FechaDeHoy }}" class="form-control input" readonly
                            required>
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 columna">
                        <h6 class="h6-form">CANTIDAD <label>*</label></h6>
                        <input type="number" step="0.01" name="cantidad" placeholder="Ingrese la cantidad (obligatorio)"
                            class="form-control input" required>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columna">
                        <h6 class="h6-form">NOTAS</h6>
                        <input type="text" name="notas" placeholder="Ingrese las notas" class="form-control input">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary agregarBoton" name="agregar">Guardar y
                        agregar otro</button>
                    <button type="submit" class="btn btn-success salirBoton" name="salir">Guardar y
                        salir</button>
                    <a href="{% url 'T-InventarioMP'%}">
                        <button type="button" class="btn btn-danger cancelarBoton">Cancelar</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

{% else %}
<div class="row centrar">
    <h6 class="h6-form">
        <i class="fa fa-ban"></i> <i class="fa fa-close"></i>
        No tienes los permisos necesarios para agregar el contenido de la tabla
        <i class="fa fa-close"></i> <i class="fa fa-ban"></i>
    </h6>
</div>
{% endif %}

{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}

{% endblock %}