{% extends "include/header.html" %}

{% load static %}

{% block title %} SERVIDOS MANUALES {% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>PROCESOS - SERVIDOS MANUALES</h1>

        {% if perms.Aplicacion.add_tbldetalleanimales %}
        <div class="row centrar">
            <a href="{% url 'F-DetallesAnimales'%}">
                <button type="button" class="btn button-add col-12">CAPTURA SOLICITUD SERVIDOS</button>
            </a>
        </div>
        {% else %}
        <div class="row centrar">
            <h6>No tienes los permisos necesarios para agregar clientes</h6>
        </div>
        {% endif %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% if perms.Aplicacion.view_tbldetalleanimales %}
        <div class=" table-responsive py-1">
            <table class="tabla_id">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CLIENTE</th>
                        <th>CORRAL</th>
                        <th>PRODUCTO</th>
                        <th>ESTATUS</th>
                        <th>CANTIDAD</th>
                        <th>CANTIDAD SERVIDA</th>
                        <th>PRIORIDAD</th>
                        <th>FECHA</th>
                        <th>FECHA SERVIDA</th>
                        {% if perms.Aplicacion.change_tbldetalleanimales or perms.Aplicacion.delete_tbldetalleanimales %}
                        <th>ACCIÓN</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for DetallesAniamles in TDetallesAniamles %}
                    <tr>
                        <td>{{ DetallesAniamles.ID }}</td>
                        <td>{{ DetallesAniamles.IDCliente_id__Nombre }}</td>
                        <td>{{ DetallesAniamles.IDCorral_id__Descripcion }}</td>
                        <td>{{ DetallesAniamles.IDProducto_id__Descripcion }}</td>
                        <td>{{ DetallesAniamles.IDEstatus_id__Descripcion }}</td>
                        <td>{{ DetallesAniamles.CantidadSolicitada }}</td>
                        <td>{{ DetallesAniamles.CantidadServida }}</td>
                        <td>{{ DetallesAniamles.Prioridad }}</td>
                        <td>{{ DetallesAniamles.Fecha }}</td>
                        <td>{{ DetallesAniamles.FechaServida }}</td>
                        {% if perms.Aplicacion.change_tbldetalleanimales or perms.Aplicacion.delete_tbldetalleanimales %}
                        <td>
                            {% if perms.Aplicacion.change_tbldetalleanimales %}
                            <a style="display: inline-block;"
                                href="Editar/{{DetallesAniamles.ID}}" role="button">
                                <button class="edit-button">
                                    <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                        <path
                                            d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                                        </path>
                                    </svg>
                                </button></a>
                            {% endif %}
                            <!-- {% if perms.Aplicacion.delete_tbldetalleanimales %}
                            <a class="btn btn-danger btn-sm buttonEliminar" style="display: inline-block;"
                                href="EliminarCliente/{{Cliente.ID}}" role="button"><i class="fas fa-trash-alt"></i></a>
                            {% endif %} -->
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% else %}
<div class="row centrar">
    <h6>No tienes los permisos necesarios para ver los datos de los clientes</h6>
</div>
{% endif %}
<script>
    $(document).ready(function () {
        $('.select2').select2();
    });
    $(document).ready(function () {
        $('#cliente-select').change(function () {
            var clienteId = $(this).val();
            var url = '/obtener_corrales/' + clienteId + '/';

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#corral-select').empty();

                    $.each(data.corrales, function (index, corral) {
                        $('#corral-select').append('<option value="' + corral.ID + '">' + corral.Descripcion + '</option>');
                    });

                    // Aplica Select2 al select de corrales
                    $('#corral-select').select2();
                }
            });
        });
    });
</script>
{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}
{% endblock %}